* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}

body {
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #ffffff;
    color: #3d29d9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 25px;
    color: #3d29d9;
}

header .navbar ul{
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}
header .navbar ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding: 20px;
    color: #3d29d9;
    display: block;
}

header .navbar ul li a:hover {
    color: #ffffff;
    background-color: #3d29d9;
    cursor: pointer;
}

#menu-bar{
    display: none;
}

header label {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #3d29d9;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {

    header {
        padding: 20px;
    }

    header label {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #ffffff;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    header .navbar ul li {
        width: 100%;
    }

    #menu-bar:checked ~ .navbar {
        display: initial;
    }

}